*,
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;

}

body {
    width: 100%;
}

/*-----------------------Start Menu-----------------------*/

.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
}

.menu-logo {
    width: 5em;
}

@media screen and (min-width:960px) {

    .menu-logo,
    .menu-mobile,
    .menu-mobile--icon {
        display: none;
    }

    .menu-desktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 2em;
        align-items: center;
    }

    .menu-desktop--list {}

    .menu-desktop--list ul {
        display: flex;
        padding-left: 10em;
    }

    .menu-desktop--list li {
        margin-left: 2em;
        color: #003153;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
    }

    .menu-desktop--list li:hover {
        transition: 0.5s;
        font-weight: 700;
        color: #005FA3;
    }

    .menu-desktop--button {
        width: 215px;
        height: 72px;
        background: #003153;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 18px;
    }

}

@media screen and (max-width:960px) {

    .menu-logo--desktop,
    .menu-desktop {
        display: none;
    }
}

/*-----------------------Finish Menu-----------------------*/

/*-----------------------Start Home-----------------------*/
.text-bold {
    font-weight: bold;
}

.home {
    width: 100vw;
    height: 90vh;
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bg--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 3em;

}

.home-text1--mobile h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

.home-beneficios--mobile {
    margin-bottom: 1em;
}

.home-text2--mobile {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.home-text2--mobile p {
    font-weight: 400;
    font-size: 18px;
    margin-left: 1em;
}

.home-text3--mobile {
    margin-top: 1em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}

.home-button--mobile {
    align-items: center;
    text-align: center;
}

.home-button1--mobile {
    width: 300px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: #003153;
    font-weight: 700;
    font-size: 27px;
    margin-top: 1.8rem;
    cursor: pointer;

}

@media screen and (max-width:960px) {
    .home-bg--desktop {
        display: none;
    }
}

@media screen and (min-width:960px) {
    .home-bg--mobile {
        display: none;
    }

    .home-bg--desktop {
        width: 100vw;
        height: 100vh;
    }

    .home-text1--desktop {
        color: #ffffff;
        margin-left: 2em;
        font-weight: 400;
        font-size: 40.5px;
        line-height: 49px;
        padding-top: 10rem;
    }

    .home-beneficios--desktop {
        display: flex;
        padding: 2.1em;
    }

    .home-text2--desktop {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-left: 3em;
    }

    .home-text3--desktop {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 27px;
        padding: 0.5em 0 0 3.5em;
    }

    .home-button--desktop {
        padding: 2.5em 0 0 5em;
    }

    .home-button1--desktop {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 27px;
        width: 300px;
        height: 80px;
        background: #003153;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-radius: 20px;

    }

}

button:hover {
    transition: 0.5s;
    color: #FFFFFF;
    background: #005FA3;
}

/*-----------------------Finish Home-----------------------*/