*,
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;

}

body {
    width: 100%;
    overflow-x: hidden;

}

/*-----------------------Start Menu-----------------------*/

.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
}

.menu-logo {
    width: 5em;
}

@media screen and (min-width:960px) {

    .menu-logo,
    .menu-mobile,
    .menu-mobile--icon {
        display: none;
    }

    .menu-desktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 2em;
        align-items: center;
    }

    .menu-desktop--list ul {
        display: flex;
        padding-left: 10em;
    }

    .menu-desktop--list li {
        margin-left: 2em;
        color: #003153;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
    }

    .menu-desktop--list li:hover {
        transition: 0.5s;
        font-weight: 700;
        color: #005FA3;
    }

    .menu-desktop--button {
        width: 215px;
        height: 72px;
        background: #003153;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
    }

}

@media screen and (min-width:1440px) {
    .home-bg--desktop {
        padding-top: 3em;
    }
}

@media screen and (max-width:960px) {

    .menu-logo--desktop,
    .menu-desktop {
        display: none;
    }
}

/*-----------------------Finish Menu-----------------------*/

/*-----------------------Start Home-----------------------*/
.text-bold {
    font-weight: bold;
}

.home {
    width: 100vw;
    height: 90vh;
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-bg--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 3em;

}

.home-text1--mobile h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

.home-beneficios--mobile {
    margin-bottom: 1em;
}

.home-text2--mobile {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.home-text2--mobile p {
    font-weight: 400;
    font-size: 18px;
    margin-left: 1em;
}

.home-text3--mobile {
    margin-top: 1em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}

.home-button--mobile {
    align-items: center;
    text-align: center;
}

.home-button1--mobile {
    width: 300px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: #003153;
    font-weight: 700;
    font-size: 27px;
    margin-top: 1.8rem;
    cursor: pointer;

}

@media screen and (max-width:960px) {
    .home-bg--desktop {
        display: none;
    }
}

@media screen and (min-width:960px) {
    .home-bg--mobile {
        display: none;
    }

    .home-bg--desktop {
        width: 100vw;
        height: 100vh;
    }

    .home-text1--desktop {
        color: #ffffff;
        margin-left: 2em;
        font-weight: 400;
        font-size: 40.5px;
        line-height: 49px;
        padding-top: 6rem;
    }

    .home-beneficios--desktop {
        display: flex;
        padding: 2.1em;
    }

    .home-text2--desktop {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-left: 3em;
    }

    .home-text2--desktop p {
        margin-left: 1em;
    }

    .home-text3--desktop {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 27px;
        padding: 0.5em 0 0 3.5em;
    }

    .home-button--desktop {
        padding: 2.5em 0 0 5em;
    }

    .home-button1--desktop {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 27px;
        width: 300px;
        height: 80px;
        background: #003153;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        cursor: pointer;

    }

}

button:hover {
    transition: 0.5s;
    color: #FFFFFF;
    background: #005FA3;
}

/*-----------------------Finish Home-----------------------*/

/*-----------------------Start Diferenciais-----------------------*/

.diferenciais-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5em;
    gap: 5em;
}

@media screen and (min-width:760px) {
    .diferenciais-itens {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
    }
}

@media screen and (min-width:1280px) {
    .diferenciais-itens {
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
    }


}

.diferenciais-itens h1 {
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    color: #003153;
}

.diferenciais-itens img {
    padding-bottom: 2em;
}

.diferenciais-itens p {
    padding-top: 2em;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #003153;
}

/*-----------------------Finish Diferenciais-----------------------*/

/*-----------------------Start Servicos-----------------------*/

.servicos {
    padding-top: 6em;
}

@media screen and (min-width:320px) and (max-width:1268px) {
    .servicos-box1--geral {
        display: none;
    }

}

@media screen and (min-width:1268px) {
    .servicos {
        display: flex;
        justify-content: space-between;
    }

    .servicos-boxes2--align h1 {
        font-size: 27px;
    }

    .servicos-box2--geral {
        display: flex;
        margin-right: 2em;
        font-size: 18px;
    }

    .servicos-box1-desespero {
        margin-left: 1em;
        margin-right: 2em;

    }

    .servicos-box2-desespero {
        margin-top: 6em;

    }
}

@media screen and (min-width:1440px) {
    .servicos-box1--geral img {
        width: 50vw;
    }

    .servicos-boxes2--align h1 {
        font-size: 40.5px;
    }

    .servicos-box2--geral {
        font-size: 27px;
    }
}

.servicos-h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #003153;
    text-align: center;
    padding-bottom: 3em;
}

.servicos-box1 {
    color: #003153;
    display: grid;
    justify-content: center;
    flex-direction: column;
    gap: 0.8em;
}

.servicos-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 1em;
}

.servicos-text {
    display: flex;
    align-items: center;
    text-align: left;
}

.servicos-line {
    align-items: center;
    text-align: center;

}

.servicos-box2 {
    color: #003153;
    display: grid;
    justify-content: center;
    flex-direction: column;
    gap: 0.8em;
    padding-top: 1em;
}

/*-----------------------Finish Servicos-----------------------*/

/*-----------------------Start Sobre nos-----------------------*/
.sobre-nos {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 8em;
}

.sobre-nos--box1 {
    width: 50%;
    color: #003153;
    font-weight: 400;
    font-size: 18px;
}

.sobre-nos--box1 h1 {
    font-weight: 700;
    font-size: 40.5px;
}

.sobre-nos--box1 h2 {
    font-weight: 600;
    font-size: 27px;
}

.sobre-nos--box1 h1,
h2 {
    line-height: 1.5em;
}

.sobre-nos--text1,
.sobre-nos--text2 {
    color: #003153;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    padding-top: 1.5em;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .sobre-nos--box1 {
        display: none;
    }

    .sobre-nos {
        width: 100%;
        display: grid;
        text-align: center;
        padding: 5em;
    }

    .sobre-nos--map img {
        width: 90vw;
    }

    .sobre-nos--box2 {
        width: 100%;
        color: #003153;
        font-weight: 400;
        font-size: 18px;
    }

    .sobre-nos--box2 h1 {
        font-weight: 700;
        font-size: 27px;
    }

    .sobre-nos--box2 h2 {
        font-weight: 600;
        font-size: 18px;
        padding-top: 1.5em;
    }

    .sobre-nos--box2 h1,
    h2 {
        line-height: 1.5em;
    }

    .sobre-nos--text3,
    .sobre-nos--text4 {
        color: #003153;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5em;
        padding-top: 1.5em;
    }
}

@media screen and (min-width:1024px) {
    .sobre-nos--box2 {
        display: none;
    }

}

/*-----------------------Finish Sobre nos-----------------------*/

/*-----------------------Start Assistencia-----------------------*/

.assistencia {
    border: 0.5em #003153 solid;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1.5em;
    padding: 2em;
    margin: 0 2em 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.assistencia-text--h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #003153;
}

.assistencia-text--p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #003153;
    padding-top: 1.5em;
}

.assistencia-button {
    padding-top: 2.5em;
}

.assistencia-button1 {
    color: #FFFFFF;
    background: #003153;
    width: 220px;
    height: 70px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .assistencia {
        display: grid;
    }
}

@media screen and (min-width:1024px) {
    .assistencia {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 6em 0 6em;
        padding: 3em;
    }

    .assistencia-text {
        text-align: left;
    }

    .assistencia-text--h1 {
        font-weight: 700;
        font-size: 60.75px;
        line-height: 74px;
        color: #003153;
    }

    .assistencia-text--p {
        font-weight: 700;
        font-size: 40.5px;
        line-height: 49px;
        color: #003153;
    }

    .assistencia-button1 {
        width: 250px;
        height: 90px;
        font-size: 21px;
    }
}

/*-----------------------Finish Assistencia-----------------------*/

/*-----------------------Start trabalhar-----------------------*/

.trabalhar {
    padding-top: 5em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trabalhar-text h1 {
    font-weight: 700;
    font-size: 27px;
    line-height: 29px;
    text-align: center;
    color: #003153;
}

.trabalhar-text h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #003153;
    margin-top: 1.5em;
}

.trabalhar-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #003153;
    margin-top: 1.5em;
}

.trabalhar-button {
    margin-top: 2em;
}

.trabalhar-button1 {
    color: #FFFFFF;
    background: #003153;
    width: 160px;
    height: 75px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
}

@media screen and (min-width:1024px) {
    .trabalhar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0em 10em 0 10em;
    }

    .trabalhar-img {
        display: none;
    }

    .trabalhar-text h1 {
        font-weight: 700;
        font-size: 40.5px;
        line-height: 29px;
        text-align: left;
        color: #003153;
    }

    .trabalhar-text h2 {
        font-weight: 700;
        font-size: 27px;
        line-height: 33px;
        text-align: left;
        color: #003153;
    }

    .trabalhar-text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        color: #003153;
    }

    .trabalhar-button {
        text-align: left;
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .trabalhar-img--desktop {
        display: none;
    }
}

/*-----------------------Finish trabalhar-----------------------*/

/*-----------------------Start Footer-----------------------*/

footer {
    margin-top: 5em;
    background: #003153;
    align-items: center;
    text-align: center;
}

.footer-img {
    padding: 1em;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 8em;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3.5em;
}

.footer-nav ul {
    line-height: 3em;
}

.footer-redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

.footer-redes li {
    margin-left: 1.8em;
    color: #FFFFFF;
}

.footer-redes-p {
    font-weight: 500;
    font-size: 14px;
}

.footer-endereco {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    margin-top: 2.5em;
}

.footer-map {
    padding: 2em;
    margin-top: 2.5em;
}

.footer-copy {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    padding: 2.5em 8em 2.5em 8em;
    font-weight: 400;
    font-size: 6.5px;
    line-height: 6px;
    color: #FFFFFF;
}

@media screen and (min-width:960px) {
    .footer-copy {
        font-size: 12px;
    }
}

@media screen and (min-width:1024px) {
    .footer-box--text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8em;
    }

    .footer-redes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

}

@media screen and (min-width:1200px) {
    .footer-box--desktop {
        display: flex;
        justify-content: center;
        gap: 5em;
        align-items: center;
    }

    .footer-redes {
        display: grid;
        font-size: 12px;
        grid-auto-rows: 0.1em;
        text-align: left;
    }
    
    .footer-copy{
        padding: 1.5em 4em 1.5em 4em;
    }
}